* {
    font-family:"Verdana",sans-serif;
    font-size:9pt;
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    overflow-x: hidden;
}

p, li {
    width: 100%;
    margin-bottom: 15px;
}

.header {
    font-weight: bold;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid;
}

.lista-guiones {
    list-style-type: none;
}

.lista-guiones li::before {
    content: "-";
    margin-right: 5px;
    color: black;
}